.avaleht {
  text-align: center;

}

.navbar {
  position: fixed;
  top: 15px;
  right: 50px;
  display: flex;
  flex-direction: column;
}

.navbar-nupud {
  width: 100px;
  color: white;
  background-color: teal;
  
}

.nupp {
  background-color: rgb(27, 100, 27);
  color: rgb(161, 161, 161);
}

.nupp:hover {
  height: 100px;
}

.nupp:active {
  cursor: grab;
}

.tekst {
  color: blue;
  font-style: italic;
}

.tekst:hover {
  font-size: 24px;
}

.tekst_ {
  color: green;
  font-weight: bold;
  border: 2px solid red;
}

.tekst_:hover {
  border: 2px solid brown;
}

.pildikast {
  display: flex;
  justify-content: right;
  width: 100%;
}

.pilt {
  width: 250px;
  height: 100px;
}

.pilt:hover {
  border-radius: 25px;
}

.pilt:active {
  opacity: 0.1;
}

table {
  text-align: left;
}

.tabeli_pealkirjad {
  font-weight: bold;
  border: 0.5px solid rgb(224, 219, 219);
  background-color: white;
  padding: 0;
}

.firma {
  width: 400px;

  
}

.kontakt {
  width: 200px;
  
}

.riik {
  width: 150px;

}

.paaris {
  background-color: white;
}

.paaritu {
  background-color: rgb(224, 219, 219);
}

.videokast {
  margin-top: 50px;
}

.center {
  text-align: center;
}

.center > button {
  width: 100px;
  height: 100px;
  background-color: aqua;
}

.lds-hourglass,
.lds-hourglass:after {
  box-sizing: border-box;
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

